<div class="mobile-menu">
  <div class="mobile-menu-overlay"></div>
  <div class="mobile-menu-content">
    <button type="button" class="mobile-menu-close" aria-label="Закрити меню">
      &times;
    </button>

    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li>
          <a href="#about" class="mobile-nav-link">
            <i data-lucide="leaf"></i>
            Про нас</a
          >
        </li>
        <li>
          <a href="#advantages" class="mobile-nav-link">
            <i data-lucide="star-check"></i> Переваги</a
          >
        </li>
        <li>
          <a href="#assortment" class="mobile-nav-link">
            <i data-lucide="shopping-cart"></i> Асортимент</a
          >
        </li>
        <li>
          <a href="#gallery" class="mobile-nav-link">
            <i data-lucide="images"></i> Галерея</a
          >
        </li>
        <li>
          <a href="#reviews" class="mobile-nav-link">
            <i data-lucide="message-square"></i> Відгуки</a
          >
        </li>
        <li>
          <a href="#contacts" class="mobile-nav-link">
            <i data-lucide="phone"></i> Контакти</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
