<section class="feedbacks container" id="reviews">
  <h2 class="page-title">Що говорять наші клієнти</h2>

  <ul class="feedback-list">
    <li class="feedback-person" data-rating="5">
      <div class="stars-img"></div>
      <div class="feedback-overlay">
        <p class="feedback-text">
          Сумка дуже зручна та стильна, використовую щодня!!
        </p>
        <p class="feedback-person-name">Анна</p>
      </div>
    </li>

    <li class="feedback-person" data-rating="5">
      <div class="stars-img"></div>
      <div class="feedback-overlay">
        <p class="feedback-text">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedback-person-name">Ігор</p>
      </div>
    </li>

    <li class="feedback-person" data-rating="5">
      <div class="stars-img"></div>
      <div class="feedback-overlay">
        <p class="feedback-text">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedback-person-name">Олена</p>
      </div>
    </li>

    <li class="feedback-person" data-rating="4">
      <div class="stars-img"></div>
      <div class="feedback-overlay">
        <p class="last-text feedback-text">
          Швидка доставка та гарне обслуговування.
        </p>
        <p class="feedback-person-name">Сергій</p>
      </div>
    </li>
  </ul>
</section>
