<footer class="body-footer">
  <div class="footer-content container">
    <a href="/index.html">
      <img src="./img/logo.svg" alt="EcoTote Logo" class="footer-logo_icon" />
    </a>

    <div class="footer-contact_container">
      <div class="footer-contact">
        <a href="tel:+380999091122" class="footer-phone">+38 (099) 909 11 22</a>
        <a href="mailto:hello@ecotote.com" class="footer-email"
          >hello@ecotote.com</a
        >
      </div>

      <div class="footer-copyright">© 2025 EcoTote. Всі права захищені.</div>
    </div>

    <ul class="footer-socials">
      <li class="footer-socials_item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social_link"
          aria-label="Instagram"
        >
          <svg class="footer-icon">
            <use href="./img/icons.svg#Instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-socials_item">
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social_link"
          aria-label="LinkedIn"
        >
          <svg class="footer-icon">
            <use href="./img/icons.svg#LinkedIn"></use>
          </svg>
        </a>
      </li>
      <li class="footer-socials_item">
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="footer-social_link"
          aria-label="YouTube"
        >
          <svg class="footer-icon">
            <use href="./img/icons.svg#Youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
