<section class="gallery container" id="gallery">
  <h2 class="gallery-title">Галерея зображень</h2>
  <h3 class="gallery-after-title">EcoTotes у повсякденному житті</h3>
  <ul class="gallery-list">
    <li class="gallery-item">
      <picture class="img-group">
        <source
          srcset="
            /img/gallery-img/Cafe_vibe.webp    1x,
            /img/gallery-img/Cafe_vibe-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/gallery-img/Cafe_vibe-tabl.webp    1x,
            /img/gallery-img/Cafe_vibe-tabl-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/gallery-img/Cafe_vibe-mob.webp    1x,
            /img/gallery-img/Cafe_vibe-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="gallery-item-img"
          src="/img/gallery-img/Cafe_vibe-mob.webp"
          alt="Сумка лежить на стільці в кафе"
          width="288"
        />
      </picture>
    </li>
    <li class="gallery-item">
      <picture>
        <source
          srcset="
            /img/gallery-img/Urban_style.webp    1x,
            /img/gallery-img/Urban_style-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/gallery-img/Urban_style-tabl.webp    1x,
            /img/gallery-img/Urban_style-tabl-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/gallery-img/Urban_style-mob.webp    1x,
            /img/gallery-img/Urban_style-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="gallery-item-img"
          src="/img/gallery-img/Urban_style-mob.webp"
          alt="Хлопець з еко-сумкою гуляє містом"
          width="288"
        />
      </picture>
    </li>
    <li class="gallery-item">
      <picture>
        <source
          srcset="
            /img/gallery-img/Eco_walk.webp    1x,
            /img/gallery-img/Eco_walk-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/gallery-img/Eco_walk-tabl.webp    1x,
            /img/gallery-img/Eco_walk-tabl-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/gallery-img/Eco_walk-mob.webp    1x,
            /img/gallery-img/Eco_walk-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="gallery-item-img"
          src="/img/gallery-img/Eco_walk-mob.webp"
          alt="Жінка з еко-сумкою в парку"
          width="288"
        />
      </picture>
    </li>
    <li class="gallery-item">
      <picture>
        <source
          srcset="
            /img/gallery-img/Market_moment.webp    1x,
            /img/gallery-img/Market_moment-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/gallery-img/Market_moment-tabl.webp    1x,
            /img/gallery-img/Market_moment-tabl-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/gallery-img/Market_moment-mob.webp    1x,
            /img/gallery-img/Market_moment-mob-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="gallery-item-img"
          src="/img/gallery-img/Market_moment-mob.webp"
          alt="Жінка з еко-сумкою робить покупки на ринку"
          width="288"
        />
      </picture>
    </li>
  </ul>
</section>
