<header class="header">
  <div class="container header-container">
    <!-- logo -->
    <a href="#" class="nav-logo">
      <svg width="106" height="45">
        <use href="/img/icons.svg#logo"></use>
      </svg>
    </a>

    <!-- desktop nav -->
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#about" class="nav-link active">Про нас</a></li>
        <li><a href="#advantages" class="nav-link">Переваги</a></li>
        <li><a href="#assortment" class="nav-link">Асортимент</a></li>
        <li><a href="#gallery" class="nav-link">Галерея</a></li>
        <li><a href="#reviews" class="nav-link">Відгуки</a></li>
        <li><a href="#contacts" class="nav-link">Контакти</a></li>
      </ul>
    </nav>

    <!-- contacts (desktop) -->
    <ul class="contact-list">
      <li>
        <a href="tel:+380991112233" class="contact phone"
          >+38 (099) 111 22 33</a
        >
      </li>
      <li><a href="mailto:eco@tote.com" class="contact">eco@tote.com</a></li>
    </ul>

    <!-- mobile menu button -->
    <button type="button" class="mobile-menu-btn">
      <svg class="logo-mob-menu">
        <use href="/img/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
