:root {
  --header-height: 80px;
}

main {
  padding-top: var(--header-height);
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
