.feedbacks {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
}

.page-title {
  font-size: 36px;
  letter-spacing: 0.01em;
  text-align: center;
}

.feedback-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.feedback-person {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stars-img {
  width: 136px;
}

.stars-icon {
  fill: #3ac04c;
}

.star-list {
  display: flex;
  gap: 4px;
}

.feedback-overlay {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-text {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.feedback-person-name {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .feedbacks {
    padding: 64px 0;
  }

  .feedback-list {
    gap: 50px;
  }

  .feedback-person {
    gap: 15px;
  }

  .feedback-overlay {
    gap: 12px;
  }

  .feedback-person {
    width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .page-title {
    width: 560px;
    font-size: 48px;
    margin: 0 auto;
  }

  .feedbacks {
    gap: 50px;
  }

  .feedback-list {
    gap: 30px;
  }

  .feedback-person {
    width: 310px;
  }

  .feedback-overlay {
    margin: 0 auto;
    height: 100px;
    position: relative;
  }

  .feedback-person-name {
    position: absolute;
    bottom: 0;
  }
}
