.body-footer {
  background-color: #75d281;
  font-family: 'Fira Sans';
  line-height: 160%;
  width: 100%;
}

.footer-content {
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo_icon {
  width: 100px;
  height: 50px;
}

.footer-contact_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-phone,
.footer-email {
  text-decoration: none;
  color: #030a06;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.footer-phone:active,
.footer-email:active {
  color: #3ac04c;
  border-bottom: 2px solid #3ac04c;
  text-decoration: none;
}

.footer-phone,
.footer-email {
  border-bottom: 2px solid transparent;
}

.footer-copyright {
  font-size: 14px;
  text-align: center;
  color: #030a06;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-socials_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #030a06;
}

.footer-social_link:active {
  color: #3ac04c;
  outline: 2px solid #3ac04c;
  transform: scale(1);
}

.footer-icon {
  width: 32px;
  height: 33px;
  fill: #030a06;
}

.footer-icon:active {
  fill: #3ac04c;
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    padding: 20px;
  }

  .footer-logo_icon {
    width: 175px;
  }

  .footer-contact_container {
    gap: 5px;
  }

  .footer-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
  }

  .footer-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-content {
    justify-content: space-between;
    align-items: center;
  }

  .footer-contact_container {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: auto;
  }

  .footer-contact {
    width: auto;
    gap: 24px;
  }

  .footer-copyright {
    font-size: 16px;
    white-space: nowrap;
  }

  .footer-socials {
    gap: 16px;
  }

  .footer-icon {
    width: 40px;
    height: 40px;
  }

  .footer-social_link {
    transition: all 0.3s ease;
  }

  .footer-social_link:hover,
  .footer-social_link:focus {
    outline: 2px solid #030a06;
    outline-offset: 4px;
    transform: scale(1.05);
    color: #030a06;
  }

  .footer-phone:hover,
  .footer-phone:focus {
    color: #ffffff;
  }

  .footer-email:hover,
  .footer-email:focus {
    color: #ffffff;
  }
}
