.support {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  gap: 32px;
}

.support-layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.support-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.support-title {
  font-size: 36px;
  letter-spacing: 0.01em;
}

.support-text {
  font-size: 18px;
  line-height: 1.6;
}

.support-form {
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.support-input-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.support-text-scnd {
  line-height: 1.6;
}

.support-input {
  border: 1px solid rgba(3, 10, 6, 0.15);
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 12px;
  height: 42px;
  background-color: rgba(3, 10, 6, 0.05);
  outline: none;
}

.support-input.invalid {
  border-color: #d64040;
  color: #d64040;
}

.support-input.invalid::placeholder {
  color: #d64040;
}

.error-text {
  display: none;
  font-size: 12px;
  color: #d64040;
}

.support-input.invalid ~ .error-text {
  display: block;
}

.textarea {
  resize: none;
  height: 180px;
}

.support-btn {
  border: 1px solid #030a06;
  border-radius: 6px;
  height: 50px;
  background-color: #030a06;
  color: #fff;
  cursor: pointer;
}

.support-btn:active {
  background-color: #113916;
  border-color: #113916;
  color: #fff;
  opacity: 0.6;
}

.support-btn:disabled {
  background-color: #030a06;
  border-color: #030a06;
  color: #fff;
  opacity: 0.2;
}

.img-wrapper {
  border-radius: 40px;
  height: 428px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* --------------- TABLET ---------------- */

@media only screen and (min-width: 768px) {
  .support {
    padding: 64px 0;
  }

  .img-wrapper {
    height: 428px;
  }
}

/* --------------- DESCTOP ---------------- */

@media only screen and (min-width: 1440px) {
  .support {
    justify-content: center;
    flex-direction: row;
    gap: 24px;
  }

  .support-layout {
    gap: 32px;
  }

  .support-content {
    gap: 30px;
  }

  .support-form {
    gap: 32px;
  }

  .support-input-content {
    gap: 10px;
  }

  .img-wrapper {
    flex-shrink: 0;
    width: 644px;
    height: 768px;
  }

  .support-title {
    font-size: 48px;
    max-width: 644px;
  }

  .support-input {
    height: 50px;
  }

  .textarea {
    height: 160px;
  }

  .support-input:hover::placeholder {
    color: #030a06;
  }

  .support-input:focus::placeholder {
    color: transparent;
  }

  .support-btn {
    width: 198px;
    margin: 0;
  }

  .support-btn:hover,
  .support-btn:focus {
    opacity: 0.5;
  }
}
